[package]
name = "headcrab"
version = "0.1.0"
authors = ["Nikita Baksalyar <nikita.baksalyar@gmail.com>"]
edition = "2018"
description = "A modern Rust debugging library."
repository = "https://github.com/nbaksalyar/headcrab/"
license = "MIT OR Apache-2.0"
categories = ["development-tools::debugging"]
documentation = "https://docs.rs/headcrab"
readme = "README.md"

[dependencies]
nix = "0.17.0"
libproc = "0.7.2"
libc = "0.2.72"
object = "0.20"
procfs = "0.8.0"

# Dependencies specific to macOS & Linux
[target.'cfg(unix)'.dependencies]
gimli = "0.22.0"
memmap = "0.7.0"

# Dependencies specific to macOS
[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
mach = "0.3"
security-framework-sys = "1.0"
